<main>
    <div class="container">
      <form class="form_container">

        <div class="form-header">
          <div class="title">
              <h1>Cadastre um novo produto</h1>
          </div>
        </div>

        <div class="grupo_input">
          <div>
            <label for="nome">Nome</label>
            <input id="nome" type="text" [(ngModel)]="nome" name="nome">
          </div>

          <div>
            <label for="descricao">Descrição</label>
            <input id="descricao" type="text" [(ngModel)]="descricao" name="descricao">
          </div>

          <div>
            <label for="preco">Preço</label>
            <input id="preco" type="number" [(ngModel)]="preco" name="preco">
          </div>

          <div>
            <label for="disponivel">Disponível para vendas</label>
            <input id="disponivel" type="checkbox" [(ngModel)]="disponivel" name="disponivel">
          </div>
        </div>

        <div>
          <button (click)="buttonClick()" class="button_principal">
            {{id ? "Salvar" : "Adicionar Produto"}}
          </button>
        </div>

      </form>
      <table class="table_container">
            <tr class="tr_container">
              @for (products of product; track $index) {
                  <td>Produto: {{products.nome}}</td>
                  <td>Descrição: {{products.descricao}}</td>
                  <td>Preço: {{products.preco}}</td>
                  <td class="td_container">Disponível para vendas: {{products.disponivel}}</td>
              <td>
                <div class="button_group">
                  <span (click)="editarProduto(products)" class="button_container">✏️ Editar</span>
                  <span (click)="deletarProduto(products.id!)" class="button_container">🗑️ Deletar</span>
                </div>
              </td>
              }
            </tr>
      </table>
  </div>
</main>
